@COLOR_ORANGE: #E46C28;

@COLOR_COUNTRIES: #00B7CD;
@COLOR_TOPICS: #ED5538;
@COLOR_GROUPINGS: #A5D281;
@COLOR_EVENTS: #6979AC;

@COLOR_TITLES: #888;
@COLOR_BORDERS: #aaa;
@COLOR_BACKGROUND: #eee;
@COLOR_BARS: #939597;
@COLOR_BARS_BACKGROUND: #eee;
@COLOR_STATS_TEXTS: #939597;
@COLOR_VERBATIMS_TEXTS: #939597;
@COLOR_TIMELINE_POINTS: #939597;
@COLOR_TIMELINE_BOTTOM: @COLOR_ORANGE;

html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    #app-container {
      height: 100%;
      width: 100%;

      overflow: hidden;
    }
  }
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.button {
  .noselect;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  outline: none;
  border: none;
}

.column-title {
  .border-bottom;

  position: relative;
  height: 2em;
  line-height: 2em;

  text-align: center;
  color: @COLOR_TITLES;
  text-transform: uppercase;
}

.block-title {
  height: 2em;
  line-height: 2em;

  color: @COLOR_TITLES;
  text-transform: uppercase;

  .sub-block-title {
    color: @COLOR_TITLES;
  }
}

.border-bottom {
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0.5em;
    right: 0.5em;

    border-top: 1px solid @COLOR_BORDERS;
  }
}
