@COLOR_ORANGE: #E46C28;
@COLOR_BLUE: #2E7AB5;

@COLOR_COUNTRIES: #00B7CD;
@COLOR_TOPICS: #ED5538;
@COLOR_GROUPINGS: #A5D281;
@COLOR_EVENTS: #6979AC;

@COLOR_TITLES: #888;
@COLOR_BORDERS: #999;
@COLOR_ABOUT_TEXTS: #fff;
@COLOR_SEARCH: #ddd;
@COLOR_TAGS_LIGHT: #F4F5F6;
@COLOR_TAGS_DARK: #939597;
@COLOR_BARS: #939597;
@COLOR_BARS_BACKGROUND: #F4F5F6;
@COLOR_STATS_TEXTS: #939597;
@COLOR_VERBATIMS_TITLES: #000;
@COLOR_VERBATIMS_TEXTS: #939597;
@COLOR_TIMELINE_POINTS: #939597;
@COLOR_TIMELINE_BOTTOM: @COLOR_ORANGE;

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light.eot');
  src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-light.woff2') format('woff2'),
       url('../fonts/lato-light.woff') format('woff'),
       url('../fonts/lato-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular.eot');
  src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-regular.woff2') format('woff2'),
       url('../fonts/lato-regular.woff') format('woff'),
       url('../fonts/lato-regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-bold.eot');
  src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-bold.woff2') format('woff2'),
       url('../fonts/lato-bold.woff') format('woff'),
       url('../fonts/lato-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: lato;

    #app-container {
      height: 100%;
      width: 100%;

      overflow: hidden;
    }
  }
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.button {
  .noselect;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hoverable {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

input {
  outline: none;
  border: none;
}

.column-title {
  .diamond;

  position: relative;
  height: 2em;
  line-height: 2em;

  text-align: center;
  color: @COLOR_TITLES;
  text-transform: uppercase;
}

.block-title {
  position: relative;
  height: 2.5em;
  line-height: 1.1em;
  padding-top: 1.4em;
  margin-left: 1.5em;

  color: @COLOR_TITLES;

  &::before {
    position: absolute;
    content: attr(data-before);
    top: 0.5em;
    left: 0;

    font-size: 0.7em;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0.7em;
    left: -13px;
    height: 1.6em;
  }
  &[data-field="countries"]::after {
    border-right: 5px solid @COLOR_COUNTRIES;
  }
  &[data-field="actors"]::after {
    border-right: 5px solid @COLOR_GROUPINGS;
  }
  &[data-field="topics"]::after {
    border-right: 5px solid @COLOR_TOPICS;
  }
  &[data-field="event_id"]::after {
    border-right: 5px solid @COLOR_EVENTS;
  }

  span {
    text-transform: uppercase;
  }

  .sub-block-title {
    color: @COLOR_TITLES;
  }
}

.border-bottom {
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0.5em;
    right: 0.5em;

    border-top: 1px solid @COLOR_BORDERS;
  }
}

.title-border {
  &::before {
    position: absolute;
    content: '';
    top: 2em;
    left: 0.5em;
    right: 0.5em;

    border-top: 1px solid @COLOR_BORDERS;
  }
}

.border-right {
  &::after {
    position: absolute;
    content: '';
    top: 2.5em;
    bottom: 0.5em;
    right: 0;

    border-right: 1px solid @COLOR_BORDERS;
  }
}

.diamond {
  &::before {
    position: absolute;
    content: '';
    top: 2em;
    left: 50%;
    height: 1px;
    width: 1em;
    margin-left: -0.5em;

    background-color: #fff;
  }
  &::after {
    position: absolute;
    content: '';
    top: 2em;
    left: 50%;
    height: 4px;
    width: 4px;
    margin-top: -1.5px;
    margin-left: -2px;

    background-color: @COLOR_ORANGE;
    transform: rotate(45deg);
  }
}
