.filters {
  .title-border;
  .border-right;

  .search {
    position: relative;
    height: 3em;
    width: 100%;

    input {
      height: 2em;
      width: calc(~"100% - 4em");
      margin-top: 0.8em;
      margin-left: 1em;
      padding-left: 0.2em;

      background-color: @COLOR_SEARCH;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0.9em;
      right: 1em;
      height: 0.7em;
      width: 0.7em;

      border: 1px solid @COLOR_BORDERS;
      border-radius: 1em;
    }

    &::after {
      position: absolute;
      content: '';
      top: 1.6em;
      right: 0.9em;
      height: 0.4em;
      width: 0;
      margin-top: -0.1em;

      border: 1px solid @COLOR_BORDERS;
      transform: rotate(-45deg);
    }

    .custom-border {
      position: absolute;
      bottom: 0;
      left: 0.5em;
      right: 0.5em;

      border-top: 1px solid @COLOR_BORDERS;
    }

    ul.results-list {
      background: #fff;
      border: 1px solid @COLOR_BORDERS;

      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;

      margin-top: -1px;
      z-index: 100;
      overflow: auto;
      max-height: 400px;

      counter-reset: filter-search-result;

      li.result,
      li.no-result {
        margin: 0 5px;
        font-size: 0.8em;

        height: 23px;
        line-height: 23px;

        color: @COLOR_FILTER;
        .highlighted {
          color: #000;
        }
      }

      li.result {
        &:before {
          padding: 0 5px;
          counter-increment: filter-search-result;
          content: counter(filter-search-result);
          margin-right: 4px;
        }

        &[data-field="countries"]::before {
          border-right: 3px solid @COLOR_COUNTRIES;
        }
        &[data-field="actors"]::before {
          border-right: 3px solid @COLOR_GROUPINGS;
        }
        &[data-field="topics"]::before {
          border-right: 3px solid @COLOR_TOPICS;
        }
        &[data-field="event_id"]::before {
          border-right: 3px solid @COLOR_EVENTS;
        }

        .ellipsis;
        .hoverable;

        &:not(:last-child) {
          border-bottom: 1px solid @COLOR_BORDERS;
        }
      }

      li.no-result {
        text-align: center;
      }
    }
  }

  .filter-blocks {
    height: calc(~"100% - 5em");
    overflow: auto;
    transition: opacity @DEFAULT_TRANSITION;

    .block {
      .border-bottom;

      position: relative;

      overflow: hidden;

      .block-title {
        .button;

        height: 3em;

        .arrow {
          position: absolute;
          top: 1.2em;
          right: 0.8em;
          height: 0.8em;
          width: 0.8em;

          border-top: 1px solid @COLOR_BORDERS;
          border-left: 1px solid @COLOR_BORDERS;
          transform: rotate(225deg);

          &[data-deployed] {
            top: 0.8em;
            transform: rotate(45deg);
          }
        }
      }

      .block-content {
        width: 100%;

        ul.filters-list {
          width: 100%;

          &[data-deployed="true"] {
            padding-bottom: 0.5em;
          }

          li.group {
            width: 100%;
            padding-left: 1em;

            color: @COLOR_FILTER_GROUP;

            &[data-deployed="true"] {
              padding-bottom: 0.5em;
            }

            .group-title {
              .button;

              position: relative;
              margin: 0;
              padding: 0;
              font-size: 1em;

              &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: 0.8em;
                height: 0;
                width: 0.8em;

                border-top: 1px solid @COLOR_FILTER;
              }
              &[data-deployed="false"]::before {
                position: absolute;
                content: '';
                top: 50%;
                right: 1.2em;
                height: 0.8em;
                width: 0;
                margin-top: -0.4em;

                border-left: 1px solid @COLOR_FILTER;
              }
            }
          }

          li.filter {
            position: relative;
            width: 100%;
            padding-left: 1em;

            color: @COLOR_FILTER;

            input[type="checkbox"] {
              display: none;
            }
            input[type="radio"] {
              display: none;
            }

            label {
              .button;
              .ellipsis;

              display: block;
              padding-right: 1.8em;

              .label-wrapper {
                font-size: 0.8em;
              }
              .event-label-wrapper {
                font-size: 0.6em;
              }
            }

            input[type="checkbox"] + label::before {
              position: absolute;
              content: '';
              top: 0.2em;
              right: 0.7em;
              height: 1em;
              width: 1em;

              border: 2px solid @COLOR_BORDERS;
              border-radius: 4px;
              background-color: transparent;
            }

            input[type="checkbox"]:checked + label::after {
              position: absolute;
              content: '';
              top: 0;
              right: 0.7em;
              height: 0.9em;
              width: 0.5em;

              border-right: 2px solid @COLOR_BORDERS;
              border-bottom: 2px solid @COLOR_BORDERS;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  &[data-active-search] .filter-blocks {
    opacity: 0.4;
  }
}
