.verbatims {
  .minutes {
    height: calc(~"100% - 2em");
    width: 100%;

    overflow: auto;

    .minute {
      width: 100%;

      border-bottom: 1px solid @COLOR_BORDERS;

      .minute-context {
        height: 2em;
      }

      .minute-title {
        height: 2em;
      }

      .minute-tags {
        height: 2em;
      }
    }
  }
}
