
#analysis {
  >div {
    position: absolute;
    top: 0;

    h2 {
      font-family: "georgia";
      font-weight: normal;
      font-style: italic;
      margin: 0;
      color: @mainBlue;
      font-size: 1.5em;
    }

    p {
      margin: 0;
      font-family: "lato";
      font-weight: 500;
      font-size: 1em;
    }

    >a {
      position: absolute;
      left: -8em;

      img {
        height: 2em;
      }
    }

    >a.previous {
      top: 0.5em;

      img{
        transform: rotate(180deg);
      }
    }

    >a.next {
      top: 5em;
    }

    >a.next.fivedots {
      top: 7em;
    }
  }
}
