
#context {
  position:fixed;
  height: 20em;
  background-color: @secondaryBlue;
  top: 2em;
  left: 0;
  right: 0;

  h1 {
    font-family: "lato";
    font-weight: 100;
    margin: 1em auto;
    font-size: 1.5em;
    width: 25em;
  }

  p {
    column-count: 2;
    column-gap: 4em;
    color: #FFF;
    width: 50em;
    margin: 1em auto;
    font-family: "lato";
    font-size: 0.75em;
    text-align: justify;
  }

  #logos {

  }
}
