
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;
  background-color: #FFF;
  padding: 0.5em;
  text-align: right;
  z-index: 100;

  #menu {
    color: @mainBlue;
    font-family: "geogia";
    font-weight: 900;
    font-style: italic;
    display: inline-block;

    a {
      display: inline-block;
      margin: 0 0.5em;
      text-decoration: none;
      color: @mainBlue;
    }
  }

  #social {
    display: inline-block;
    a {
      display: inline-block;
      margin: 0 0.5em;
      text-decoration: none;
    }
  }

  #mode-selector {
    position: fixed;
    text-align: center;
    font-family: "lato";
    left: 0;
    right: 0;

    a {
      display: inline-block;
      padding: 1em;
    }
  }
}