.overable {
  cursor: pointer;
}

#viz-container {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;

  >div {
    position: relative;
    height: 100%;
    width: 100%;

    #viz-selector {
      position: absolute;
      left: 10em;
      right: 10em;

      a {
        text-decoration: none;
        color: @mainBlue;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        span {
          display: inline-block;
          vertical-align: middle;
        }

        span.number {
          font-family: "lato";
          font-weight: 100;
          font-size: 3em;
          width: 2em;
          text-align: center;
        }
        span.title {
          font-family: "georgia";
          font-size: 1.5em;
          font-weight: bold;
          font-style: italic;
          white-space: nowrap;
          position: relative;
        }
      }
    } 

    #viz-band {
      position: absolute;
      box-sizing: border-box;
      padding: 0 26em 0 5em;
      width: 100%;
      top: 7em;
      bottom: 13em;
      background-color: @lightGrey;
      border-top: solid 1px @mainBlue;
      border-bottom: solid 1px @mainBlue;

      #verbatims {
        position: absolute;
        top: 1em;
        bottom: 1em;
        right: 6em;
        width: 19em;
        border-left: 1px solid #FFF;
        padding-left: 1em;
      }

      #analysis {
        position: absolute;
        left: 25em;
        right: 15em;
        top: 100%;
        margin-top: 2em;
        height: 8em;
      }

      #viz {
        display: block;
        height: 100%;
        position: relative;
        overflow: hidden;

        #window {
          position: absolute;
          top: 40px;
          left: 50px;
          bottom: 70px;
          right: 250px;

          >div {
            position: relative;
            height: 100%;
            width: 100%;

            >div {
              position: absolute;
              margin: -2000px;
              border-width: 2000px;
              border-style: solid;
              border-color: rgba(210,210,215,.5);
              border-radius: 2012px;
              -webkit-box-shadow: inset 0px 0px 12px 0px rgb(210,210,215);
                 -moz-box-shadow: inset 0px 0px 12px 0px rgb(210,210,215);
                      box-shadow: inset 0px 0px 12px 0px rgb(210,210,215);

              >div {
                box-sizing: border-box;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }

      #dots {
        position: absolute;
        left: 21em;
        width: 2em;
        height: 8em;
        bottom: -9.5em;

        >a {
          box-sizing: border-box;
          margin: 0.8em 0.5em;
          padding: 0.5em;
          border: 1px solid @mainBlue;
          border-radius: 100%;

          >div {
            height: 0;
            width: 0;
            padding: 0;
            border: 0;
            margin: 0;
            background-color: @mainBlue;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

#viz-1, #viz-2, #viz-3-1{

  font: 10px sans-serif;
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

}

#viz-3-2{
  height: 100%;

  div {
    height: 100%;
  }

  .year {
    box-sizing: border-box;
    padding: 0.3em;
    text-align: center;
    width: 14%;
    font-size: 2em;
    height: 33%;
    display: inline-block;
    font-family: "georgia";
    font-style: italic;
    color: @mainBlue;

    p{
      font-size: 0.3em;
      font-family: "lato";
      font-style: normal;
      margin: 0;
      padding: 0.2em 0.1em;
      position: relative;
      height: 2em;
      line-height: 1.5em;

      span {
        display: block;
        content: " ";
        width: attr('data-percent');
        background-color: attr('data-color');
        height: 5px;
        bottom: -1px;
        left: 0;
      }
    }
  }

  .overed {
    p {
      opacity: 0.2;
    }

    p.highlight-country {
      opacity: 1;
    }
  }
}


